[submodule "vexflow"]
	path = vexflow
	url = git@github.com:vexflow/vexflow.git
[submodule "opensheetmusicdisplay"]
	path = opensheetmusicdisplay
	url = https://github.com/opensheetmusicdisplay/opensheetmusicdisplay.git
